extends layout

block content
   

    
    canvas(id="mainwindow" width='200', height='425', tabindex='1', position = 'absolute')

    script(src="http://code.createjs.com/createjs-2013.12.12.min.js")
    script(src="http://code.createjs.com/preloadjs-0.1.0.min.js")
    script(src="javascripts/cheeztemp.js")